@charset "utf-8";

/* iPhone 縦 */
body {
    background-color: #dddddd;
    font-family: 'Quicksand', "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", 'メイリオ' , Meiryo , Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
.col-md-9 {
    padding: 10px 10px 10px 50px;
}
.col-md-3 {
    padding: 10px 50px 10px 10px;
}

nav.navbar {
    background-image: url(/photo/main/wall2.jpg);
    width: auto;
}

li.nav-item {
    margin-bottom: auto;
    margin-top: auto;
    line-height: 125%;
    font-size: 0.95rem;
}


.last_update {
    text-align: right;
    color: #000000;
    font-size: 0.80rem;
    clear: both;
}



span.location:before {
    content:"📍";
}

.clearfix:after, .CardList article:after {
    content: "";
    display: block;
    clear: both;
}

.CardList article {
    background-color: #ffffff;
}

.CardList article img {
    width: 40%;
    height: auto;
    margin: 0.2em;
    padding: 0.2em;
    float: left;
}

.CardList article h3 {
    font-size: 1.0em ;
    font-weight: bold;
    margin: 0;
    padding-left: 15px;
}

.CardList article p {
    text-align: left;
    font-size: 0.8em;
    line-height: 2.0em;
    padding: 0 15px;
    margin: 0;
}

.CardList article span {
    text-align: left;
    position: absolute;
    font-size: 0.7em;
    line-height: 2.0em;
    padding: 0 15px;
    margin: 0;
}




/* for iPhone Landscape (iPhone 横) */
@media screen and (min-width:480px) {
    nav.navbar {
        background-image: url(/photo/main/wall2.jpg);
        width: auto;
    }
    
    li.nav-item {
        margin-bottom: auto;
        margin-top: auto;
        line-height: 125%;
        font-size: 0.95rem;
    }
    
    .last_update {
        text-align: right;
        color: #000000;
        font-size: 0.80rem;
        clear: both;
    }
    
    
    
    span.location:before {
        content:"📍";
    }
    
    .clearfix:after, .CardList article:after {
        content: "";
        display: block;
        clear: both;
    }
    
    .CardList article {
        background-color: #ffffff;
    }

    .CardList article img {
        width: 40%;
        height: auto;
        margin: 0.2em;
        padding: 0.2em;
        float: left;
    }
    
    .CardList article h3 {
        font-size: 1.0em ;
        font-weight: bold;
        margin: 0;
        padding-left: 15px;
    }
    
    .CardList article p {
        text-align: left;
        font-size: 0.8em;
        line-height: 2.0em;
        padding: 0 15px;
        margin: 0;
    }
    
    .CardList article span {
        text-align: left;
        position: absolute;
        font-size: 0.7em;
        line-height: 2.0em;
        padding: 0 15px;
        margin: 0;
    }
    
    .sidebar {
        background-color: #ffffff;
    }
}

/* for iPad */
@media screen and (min-width:768px) and ( max-width:1024px) {    
    nav.navbar {
        background-image: url(/photo/main/wall2.jpg);
        width: auto;
    }
    
    .last_update {
        text-align: right;
        color: #000000;
        font-size: 0.80rem;
        clear: both;
    }
    
    span.location:before {
        content:"📍";
    }
    
    .clearfix:after, .CardList article:after {
        content: "";
        display: block;
        clear: both;
    }
    
    .CardList article {
        background-color: #ffffff;
    }

    .CardList article img {
        width: 40%;
        height: auto;
        margin: 0;
        padding: 0 15px;
        float: left;
    }
    
    .CardList article h3 {
        font-size: 1.0em ;
        font-weight: bold;
        margin: 0;
        padding-left: 15px;
    }
    
    .CardList article p {
        text-align: left;
        font-size: 0.8em;
        line-height: 2.0em;
        padding: 0 15px;
        margin: 0;
    }
    
    .CardList article span {
        text-align: left;
        position: absolute;
        font-size: 0.7em;
        line-height: 2.0em;
        padding: 0 15px;
        margin: 0;
    }
    
    .sidebar {
        background-color: #ffffff;
    }
}

/* for PC */
@media screen and (min-width:1024px) {
    nav.navbar {
        background-image: url(/photo/main/wall2.jpg);
        width: auto;
    }
    
    .last_update {
        text-align: right;
        color: #000000;
        font-size: 0.80rem;
        clear: both;
    }
    
    span.location:before {
        content:"📍";
    }
    
    .clearfix:after, .CardList article:after {
        content: "";
        display: block;
        clear: both;
    }
    
    .CardList article {
        background-color: #ffffff;
    }

    .CardList article img {
        width: 40%;
        height: auto;
        margin: 0;
        padding: 0 15px;
        float: left;
    }
    
    .CardList article h3 {
        font-size: 1.0em ;
        font-weight: bold;
        margin: 0;
        padding-left: 15px;
    }
    
    .CardList article p {
        text-align: left;
        font-size: 0.8em;
        line-height: 2.0em;
        padding: 0 15px;
        margin: 0;
    }
    
    .CardList article span {
        text-align: left;
        position: absolute;
        font-size: 0.7em;
        line-height: 2.0em;
        padding: 0 15px;
        margin: 0;
    }
    
    .sidebar {
        background-color: #ffffff;
    }
}